@font-face{
	font-family: 'Raleway';
	src: url('polices/Raleway-Variable.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'Raleway Italic';
	src: url('polices/Raleway-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'Raleway Bold';
	src: url('polices/Raleway-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
/* --- */
body{
	font-family: 'Raleway';
}
body p{
	font-size: 14px;
}
a{
	text-decoration: none;
}
h2{
	font-family: 'Raleway Bold';
	font-size: 15px;
}
#bloc-page{
	width: 1200px;
	margin: auto;
}
/* en-tête */
header{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
/* logo */
#logo{
	display: flex;
	flex-direction: row;
	align-items: baseline;
}
/* navigation */
nav ul{
	display: flex;
	list-style-type: none;
}
nav a{
	font-size: 1em;
	color: black;
	margin-top : 30px;
	margin-right: 30px;
}
.inscription{
	color: #0065FC;
	font-weight: bold;
}
/* section recherche */
#search{
	display: flex;
	align-items: center;
}
#search i{
	padding: 7px 8px 7px 10px;
	background-color: #F2F2F2;
	border: 1px solid #F2F2F2;
	border-radius: 10px 0px 0px 10px;
}
#search input{
	padding: 7px;
	border: 1px solid #F2F2F2;
}
#search button{
	padding: 7px 10px 7px 8px;
	background-color: #0065FC;
	color: white;
	border: 1px solid #0065FC;
	border-radius: 0px 10px 10px 0px;
}
/* filtres */
#filtre-group{
	margin-top: 15px;
	display: flex;
	align-items: center;
}
#filtre-group p{
	font-family: 'Raleway Bold';
}
#filtre-group a{
	color: black;
	margin-left: 15px;
	border: 2px solid #F2F2F2;
	border-radius: 30px;
	padding-right: 6px;
	font-size: 13px;
	font-family: 'Raleway Bold';
	text-decoration: none;
}
#filtre-group i{
	color: #0065FC;
	background-color: #DEEBFF;
	border: 2px solid #DEEBFF;
	border-radius: 30px;
	padding: 5px 8px 5px 8px;
}
/* information */
#info i{
	color: #0065FC;
	border: 2px solid #F2F2F2;
	border-radius: 30px;
	padding: 3px 8px 3px 8px;
}
/* pied de page */
footer{
	display: flex;
	list-style-type: none;
	padding: 15px;
	background-color: #F2F2F2;
}
footer div{
	margin-right: 200px;
}
